Source: libvmod-dns
Section: web
Priority: extra
Maintainer: Kenneth Shaw <kenshaw@gmail.com>
Build-Depends: debhelper (>= 7), build-essential, python-docutils
Standards-Version: 3.8.1
Vcs-Git: git://github.com/kenshaw/libvmod-dns.git

Package: libvmod-dns
Architecture: all
Depends: varnish, ${misc:Depends}
Description: DNS vmod for Varnish
