<div id="feed-body" class="container">
  <div class="row">
    <div class="span8">
      <div class="corgi_feed_well">
        <div class="feed_stacked">
          <div class="feed_item">
            <div class="feed_body">
              <div class="row">
                <div class="feed_profile_pic">
                  <%= image_tag "corgi.jpg", :class => "meta_image" %>
                </div>
                <div class="feed_text">
                  <p>This micro bootstrap theme is great for any application that requires a feed stream. It has a stacked feed layout and an individual feed layout too.</p>
                </div>
              </div>
            </div>
            <div class="comment_area">
              <p>Add a comment</p>
              <form>
                <textarea rows="3" class="span6"></textarea><br/>
                <input type="submit" class="btn" />
              </form>
            </div>
            <hr class="feed_hr">
            <div class="bottom_meta">
              <div class="row">
                <div class="bottom_left">
                  <div class="share_wrapper">
                    <div class="share"><a href="#" class="share_button"><i class="icon-heart"></i></a></div>
                    <div class="share_hidden">
                      <ul class="hover_heart">
                        <span class="internal_heart"><i class="icon-heart"></i> Share This Post</span>
                        <div class="social_links">
                          <li><span><i class="icon-twitter"></i> Twitter</span></li>
                          <li><span><i class="icon-facebook"></i> Facebook</span></li>
                          <li><span><i class="icon-pinterest"></i> Pinterest</span></li>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="bottom_right">
                  <a href="#">Corgi_like_bacon1</a> <span>|</span> <a href="#" class="show_comment_link">comment</a> <span>|</span> 2 days ago
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="feed_stacked last_feed_item">
          <div class="feed_item">
            <div class="feed_body">
              <div class="row">
                <div class="feed_profile_pic">
                  <%= image_tag "retriever.jpg", :class => "meta_image" %>
                </div>
                <div class="feed_text">
                  <p>Corgi is built with Bootstrap and it only adds 200 lines of css, so it won't get in your way. Stop fighting your theme code.</p>
                </div>
              </div>
            </div>
            <div class="comment_area">
              <p>Add a comment</p>
              <form>
                <textarea rows="3" class="span6"></textarea><br/>
                <input type="submit" class="btn" />
              </form>
            </div>
            <hr class="feed_hr">
            <div class="bottom_meta">
              <div class="row">
                <div class="bottom_left">
                  <div class="share_wrapper">
                    <div class="share"><a href="#" class="share_button"><i class="icon-heart"></i></a></div>
                    <div class="share_hidden">
                      <ul class="hover_heart">
                        <span class="internal_heart"><i class="icon-heart"></i> Share This Post</span>
                        <div class="social_links">
                          <li><span><i class="icon-twitter"></i> Twitter</span></li>
                          <li><span><i class="icon-facebook"></i> Facebook</span></li>
                          <li><span><i class="icon-pinterest"></i> Pinterest</span></li>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="bottom_right">
                  <a href="#">Sticks_are_the_best</a> <span>|</span> <a href="#"  class="show_comment_link">comment</a> <span>|</span> 2 days ago
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="corgi_feed_well">
        <div class="individual_feed_item">
          <div class="feed_item">
            <div class="feed_body">
              <div class="row">
                <div class="feed_profile_pic">
                  <%= image_tag "boxer.jpg", :class => "meta_image" %>
                </div>
                <div class="feed_text">
                  <p>Click on the comment link in the lower right. It has a hidden dropdown comment area built in. Woof!</p>
                </div>
              </div>
            </div>
            <div class="comment_area">
              <p>Add a comment</p>
              <form>
                <textarea rows="3" class="span6"></textarea><br/>
                <input type="submit" class="btn" />
              </form>
            </div>
            <hr class="feed_hr" />
            <div class="bottom_meta">
              <div class="row">
                <div class="bottom_left">
                  <div class="share_wrapper">
                    <div class="share"><a href="#" class="share_button"><i class="icon-heart"></i></a></div>
                    <div class="share_hidden">
                      <ul class="hover_heart">
                        <span class="internal_heart"><i class="icon-heart"></i> Share This Post</span>
                        <div class="social_links">
                          <li><span><i class="icon-twitter"></i> Twitter</span></li>
                          <li><span><i class="icon-facebook"></i> Facebook</span></li>
                          <li><span><i class="icon-pinterest"></i> Pinterest</span></li>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="bottom_right">
                  <a href="#">Sir_woofs_alot</a> <span>|</span> <a href="#" class="show_comment_link">comment</a> <span>|</span> 2 days ago
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="corgi_feed_well">
        <div class="individual_feed_item">
          <div class="feed_item">
            <div class="feed_body">
              <div class="row">
                <div class="feed_profile_pic">
                  <%= image_tag "sharpei.jpg", :class => "meta_image" %>
                </div>
                <div class="feed_text">
                  <p>The top navbar is bigger than the default bootstrap nav to accommodate a standard logo. Looks nice, even through all these wrinkles.</p>
                </div>
              </div>
            </div>
            <div class="comment_area">
              <p>Add a comment</p>
              <form>
                <textarea rows="3" class="span6"></textarea><br/>
                <input type="submit" class="btn" />
              </form>
            </div>
            <hr class="feed_hr" />
            <div class="bottom_meta">
              <div class="row">
                <div class="bottom_left">
                  <div class="share_wrapper">
                    <div class="share"><a href="#" class="share_button"><i class="icon-heart"></i></a></div>
                    <div class="share_hidden">
                      <ul class="hover_heart">
                        <span class="internal_heart"><i class="icon-heart"></i> Share This Post</span>
                        <div class="social_links">
                          <li><span><i class="icon-twitter"></i> Twitter</span></li>
                          <li><span><i class="icon-facebook"></i> Facebook</span></li>
                          <li><span><i class="icon-pinterest"></i> Pinterest</span></li>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="bottom_right">
                  <a href="#">Smell_ya_later</a> <span>|</span> <a href="#" class="show_comment_link">comment</a> <span>|</span> 2 days ago
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- end span8 -->
    <div class="span4">
      <div class="corgi_feed_well">
        <div class="sidebar_header">
          <div class="sidebar_title">
            <h4>Theme UI Features</h4>
          </div>
        </div>
        <hr class="feed_hr" />
        <div class="sidebar_interior">
          <i class="icon-ok"></i> Stacked Feed Layout
          <br/><br/>
          <i class="icon-ok"></i> Individual Feed Layout
          <br/><br/>
          <i class="icon-twitter"></i> Built with Bootstrap
          <br/><br/>
          <i class="icon-github"></i> Elusive Web Icons Included
          <br/><br/>
          <i class="icon-plus-sign"></i> Expandable Hidden Comment Area <span style="font-size:12px; color: #57ad68; font-weight:bold"> Click the comment links!</span>
          <br/><br/>
          <i class="icon-cogs"></i> Subtle Background Gradients
          <br/><br/>
          <i class="icon-plus-sign"></i> Expandable Heart Button
          <br/><br/>
          <i class="icon-hand-right"></i> Taller, Semi-Transparent Navbar
          <br/><br/>
          <i class="icon-fontsize"></i> Custom Brand Font
          <br/><br/>
          <i class="icon-view-mode"></i> Can be made responsive with one line of html
        </div>
      </div>
    </div>
  </div>

</div>
<br/><br/>
<div class="corgi_footer">
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul>
          <li><a href="">These</a></li>
          <li><a href="">Are</a></li>
          <li><a href="">Just</a></li>
          <li><a href="">Dummy</a></li>
          <li><a href="">Links</a></li>
        </ul>
        <div class="corgi_copyright">
          &copy; 2013 Bootstrap Micro
        </div>
      </div>
    </div>
  </div>
</div>
